<form action="/abc" method="post" enctype="multipart/form-data">
    Name:
    <input type="text" name="firstname">
    <br>
    <br>
    Phone:
    <input type="text" name="phone">
    <br>
    <br>
    Email:
    <input type="text" name="email">
    <br>
    <br>
    Question:
    <input type="text" name="question">
    <br>
    <br>
    Upload Image:
    <input type="file" name="fileToUpload" id="fileToUpload" multiple>
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
